@model WebEng.ReplacementParts.Data.Brand

@{
    ViewData["Title"] = "Delete | " + Model.Name;
}

<div class="product-essential container">
    <div class="row">
        <!--End For version 1, 2, 6 -->
        <!-- For version 3 -->
        <div class="product-img-box col-lg-5 col-sm-5 col-xs-12">
            <div class="product-image">
                @if (Model.PictureUrl == null || Model.PictureUrl == "")
                {
                    <div class="product-full"> <img id="product-zoom1" src="~/images/missing.jpg" data-zoom-image="~/images/missing.jpg" alt="product-image"> </div>
                }
                else
                {
                    <div class="product-full"> <img id="product-zoom1" src="@Model.PictureUrl" data-zoom-image="@Model.PictureUrl" alt="product-image"> </div>
                }
            </div>
        </div>
        <!--End For version 1,2,6-->
        <!-- For version 3 -->
        <div class="product-shop col-lg- col-sm-7 col-xs-12">
            <h1>Delete</h1>
            <h3>Are you sure you want to delete this?</h3>
            <div class="product-name">
                <h1>@Model.Name</h1>
            </div>
            <div class="spec-row" id="summarySpecs">
                <h2>Specifications</h2>
                <table width="100%">
                    <tbody>
                        <tr>
                            <td class="label-spec"> @Html.DisplayNameFor(model => model.Name) <span class="coln">:</span></td>
                            <td class="value-spec"> @Html.DisplayFor(model => model.Name) </td>
                        </tr>
                        <tr>
                            <td class="label-spec"> @Html.DisplayNameFor(model => model.Description) <span class="coln">:</span></td>
                            <td class="value-spec"> @Html.DisplayFor(model => model.Description) </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Key" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</div>
